<ion-view>
  <ion-nav-bar>
  	<h1 class="title">
  		<i class="icon ion-log-in"></i>
  		Login
  	</h1>
  </ion-nav-bar>
	<ion-content>
		<div class="list">
		  <label class="item item-input">
		  	<i class="icon ion-person"></i>
		    <input ng-model="usernameInput" placeholder=" Username" type="text">
		  </label>
		  <label class="item item-input">
		  	<i class="icon ion-locked"></i>
		    <input ng-model="passwordInput" placeholder=" Password" type="password">
		  </label>
		  <label class="item">
			  <button class="button button-block button-positive" ng-click="logIn(usernameInput, passwordInput)">
			  	login
			  </button>
		  </label>
	    <label class="item">
	    	<span>Don't have an account?</span>
	  	  <button class="button button-block button-calm" ng-click="signUp()">
	  	  	signup
	  	  </button>
	    </label>
		</div>

	</ion-content>
</ion-view>